<?xml version="1.0"?>
<!--
/**
 * Copyright © GustavosJob. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gustavosjob_storesflags>
            <general>
                <enabled>1</enabled>
                <compiled_styles>0</compiled_styles>
            </general>
        </gustavosjob_storesflags>
    </default>
</config>
